# Dependencies
node_modules/
frontend/node_modules/

# Production Builds
dist/
frontend/dist/

# Python Cache
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
# Uploads & Temp files
backend/static/uploads/
/*.mp4

# Keep scenario videos directory structure
!backend/static/videos/

